body {
    text-align: center;
    font-family: 'poppins';
    background-color: #343541;
    color: white;
}
h1 {
    font-weight: 600;
}

.botao {
    transition: 500ms;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 160, 91);
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.botao:hover {
    color: black;
    background-color: #d8fa7c;
}

.times {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
 
    width: 500px;
    height: 80px;
}
.psg {

    width: 80px
}
.bayern {
    width:80px 
}
.bar {
    
    background-color: rgb(10, 170, 95);
    width: 200px;
    height: 15px;
    border-radius: 10px;
}
.progress {
    transition: 1000ms;
    background-color: #d8fa7c;
    margin-left: 85px;
    width: 30px;
    height: 15px;
    border-radius: 10px;
    
}

.container {
    background-color: #444654;
    border-radius: 10px;
    position: relative;
    margin-left: 50%;
    margin-top: 50px;
    height: 100px;
    width: 350px;
    transform: translateX(-50%);
}
.resultado {
    padding: 20px;
    font-size: 20px;
    position: relative;
}

.porque {
    transition: 500ms;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 160, 91);
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.porque:hover {
    
    color: black;
    background-color: #d8fa7c;
}

.container2 {
    background-color: #444654;
    border-radius: 10px;
    position: relative;
    margin-left: 50%;
    margin-top: 50px;
    height: 320px;
    width: 350px;
    transform: translateX(-50%);
}
.justificativa {
    padding: 20px;
    font-size: 20px;
    position: relative;
}

.sumir {
    display: none;
}

/* ANIMAÇÕES */
.surgir {
    animation: surgir 1200ms ;
}

.piscar {
    animation: piscar 1200ms linear infinite;
}

.movimentar {
    animation: movimentar 6000ms infinite;
}

@keyframes surgir {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes piscar {
    0% {
        opacity: 0%;
    }
    50% {
        opacity:  100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes movimentar {
    0% {
        margin-left: 85px;
    }
    20% {
        margin-left: 0px;
    }
    40% {
        margin-left: 170px;
    }
    60% {
        margin-left: 0px;
    }
    80% {
        margin-left: 170px;
    }
    100% {
        margin-left: 85px;
    }
}