body {
    text-align: center;
    font-family: 'poppins';
    background-color: #343541;
    color: white;
}
h1 {
    font-weight: 600;
}

.botao {
    transition: 300ms;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 160, 91);
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.botao:hover {
    
    background-color: rgb(10, 165, 165);
}

.times {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
 
    width: 500px;
    height: 80px;
}
.psg {

    width: 80px
}
.bayern {
    width:80px 
}
.bar {
    
    background-color: rgb(10, 170, 95);
    width: 200px;
    height: 15px;
    border-radius: 10px;
}
.progress {
    transition: 1000ms;
    background-color: #d8fa7c;
    width: 30px;
    height: 15px;
    border-radius: 10px;
    margin-left: 86px;
}

.container {
    
    position: relative;
    margin-left: 50%;
    margin-top: 50px;
    height: 100px;
    width: 350px;
    transform: translateX(-50%);
}
.resultado {
    padding: 20px;
    font-size: 20px;
    position: relative;
    text-align: left;

}
.surgir {
    padding: 20px;
    font-size: 20px;
    position: relative;
    text-align: left;
    animation: surgir 1200ms ;
}

.porque {
    
    
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 160, 91);
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.porque:hover {
    
    background-color: rgb(10, 165, 165);
}

.sumir {
    display: none;
}

@keyframes surgir {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}